.admin-header-component ul{
  display: flex;
  gap: 59rem;
  background-color: rgba(0, 0, 0, 0.219);
  padding: 10px 10px;
  margin-top: 0%;
  width:98.4% ;
}
body{
  background-color:#F4F5F9;
}
.admin-header-component ul li{
  list-style: none;
}
.Right-Headericon{
  display: flex;
  font-size: 12px;
}
#nexticon{
  margin-top: 3px;
  color: blue;
  font-size: 12px;
}
.Left-Headericon{
  display: flex;
  font-size: 12px;
  margin-left: 55rem;
  gap: 10px;
}
.header-bottom{
  display: flex;
  margin-top: -15px;
}
#detail{
  color: blue;
  margin-top: -18px;
  margin-left: 10px;
}
@media screen AND (max-width: 480px){
  .admin-header-component ul{
  display: flex;
  gap: 10rem;
  background-color: rgba(0, 0, 0, 0.219);
  padding: 10px 10px;
  width:100% ;
}
.Left-Headericon{
  display: flex;
  font-size: 12px;
  margin-left: 3rem;
  gap: 10px;
}
}
