.productheader {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-gray);
  align-items: center;
  /* margin-top: 2rem; */
  margin-bottom: 2rem;
  padding: 2rem 0;
}

.moreProduct {
  display: flex;
  gap: 4rem;
}
.moreProduct span {
  font-size: 30px;
  color: gray;
}
#product {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100vh auto;
}
.cardProduct {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.proCards {
  height: 60%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-nav-bg);
  position: relative;
}
.proCards img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}
.reviws {
  display: flex;
  align-items: center;
  place-content: center;
}
.rates {
  display: flex;
}
.rate {
  color: var(--color-yellow);
  font-size: 20px;
}
.proDetails {
  background-color: var(--color-gray);
  text-align: center;
}
.proCards:hover .overview {
  display: block;
  cursor: pointer;
}
.overview {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 20%;
  /* background-color: antiquewhite; */
}

.overview ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.overview ul li {
  background-color: var(--color-gray);
  width: 50px;
  height: 50px;
  padding: 2px;
  font-size: 30px;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  margin-left: 13rem;
  box-shadow: 1px 2px 1px 0 var(--color-text);
}
.iconx {
  margin-top: 0.6rem;
}

/*============================================== Tablet Media Queries ==============================================*/

@media screen AND (max-width: 1024px) {
  .container {
    width: var(--width-md);
    margin: 0 auto;
  }
  .cardProduct {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  #product {
    margin-top: 12rem;
  }
}

/*============================================== mobile  Media Queries ==============================================*/

@media screen AND (max-width: 600px) {
  .container {
    width: var(--width-sm);
    margin: 0 auto;
  }
  .cardProduct {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  #product {
    margin-top: 45rem;
  }
  .moreProduct {
    display: none;
  }
  .advatDeatils p{
    font-size: 24px;
  }
  .overview ul li {
  background-color: var(--color-gray);
  width: 50px;
  height: 50px;
  padding: 2px;
  font-size: 30px;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  margin-left: 14rem;
  box-shadow: 1px 2px 1px 0 var(--color-text);
}
}
