.chips-card1{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 40px;
    width: 100%;
    justify-content: space-around;

    .chips-card1_img{
        border: 1px solid #000;
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }
    .chip-text-cont{
        z-index: 1;
    }
    .chips-card2_img{
        border: 1px solid #000;
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }
    img{
        z-index:0;
        height: 250px;
        width: 350px;

    }
    span{
        color: red;
    }
    p{
        font-size: 30px;
        background-color: hsla(0, 0%, 39%, 0.644);
        width: 100%;
    }

}

.chips-card2{
    display: flex;
    flex-direction: row;
    margin:25px;
    width: 100%;
    justify-content: space-between;
    
}

.chip-view1{
    display: flex;
    flex-direction: row;
    background-color: rgb(5, 22, 80);
    color: aliceblue;
    width: 100%;
    margin-top: 30px;
    justify-content: space-between;
    h1{
        margin-left: 43px;
    }
    img{
        height: 50px;
        width: 60px;
        margin-right:auto;
        right: 0;
    }
    button{
        color:black;
        text-decoration:none;
        background-color: aliceblue;
        border: 1px solid aliceblue;
        width: 150px;
        border-radius: 50px;
        margin-left: 40px;
    }
    Link{
        text-decoration: none;
        color: rgb(0, 0, 0);
        cursor: pointer;
        margin-left: 40px;
    }
}

.chip-view2{
    display: flex;
    flex-direction: row;
    background-color: rgb(38, 5, 80);
    color: aliceblue;
    width: 100%;
    justify-content: space-between;
    h1{
        margin-left: 43px;
    }
    img{
        height: 50px;
        width: 60px;
        margin-right:auto;
        right: 0;
    }
    button{
        color:black;
        text-decoration:none;
        background-color: aliceblue;
        border: 1px solid aliceblue;
        width: 150px;
        border-radius: 50px;
        margin-left: 40px;
    }
    Link{
        text-decoration: none;
        color: rgb(0, 0, 0);
        cursor: pointer;
        margin-left: 40px;
    }
}

.chip-view3{
    display: flex;
    flex-direction: row;
    background-color: rgb(80, 63, 5);
    color: aliceblue;
    width: 100%;
    justify-content: space-between;
    h1{
        margin-left: 43px;
    }
    img{
        height: 50px;
        width: 60px;
        margin-right:auto;
        right: 0;
    }
    button{
        color:black;
        text-decoration:none;
        background-color: aliceblue;
        border: 1px solid aliceblue;
        width: 150px;
        border-radius: 50px;
        margin-left: 40px;
    }
    Link{
        text-decoration: none;
        color: rgb(0, 0, 0);
        cursor: pointer;
        margin-left: 40px;
    }
}


.chip-view4{
    display: flex;
    flex-direction: row;
    background-color: rgb(80, 10, 5);
    color: aliceblue;
    width: 100%;
    justify-content: space-between;
    h1{
        margin-left: 43px;
    }
    img{
        height: 50px;
        width: 60px;
        margin-right:auto;
        right: 0;
    }
    button{
        color:black;
        text-decoration:none;
        background-color: aliceblue;
        border: 1px solid aliceblue;
        width: 150px;
        border-radius: 50px;
        margin-left: 40px;
    }
    Link{
        text-decoration: none;
        color: rgb(0, 0, 0);
        cursor: pointer;
        margin-left: 40px;
    }
}

