.chips-card1{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 40px;
    width: 100%;
    justify-content: space-around;

    // .chips-card1_img{
    //     border: 1px solid #000;
    //     width: 45%;
    //     height: 100%;
    //     display: flex;
    //     flex-direction: row;
    // }
    // .chip-text-cont{
    //     z-index: 1;
    // }
    .chips-card2_img{
        border: 1px solid #000;
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    span{
        color: red;
    }
    // p{
    //     // font-size: 30px;
    //     width: 100%;
    // }

}

.image-container {
    position: relative;
    display: inline-block;
    // width: auto;
    // height: auto;
  }
  
  .image-container img {
    display: block;
     height: 200px;
     width: 600px;   
  }
  
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: left;
  }
  
  .text-overlay p {
    color: #525050;
    font-size: 1.7rem;
    font-weight: bold;
  }
  
  .image-container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .image-container:hover:before {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .image-container:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    // background-image: url('/public/Home/sport.jpg');
    background-size: cover;
    opacity: 0.5;
  }
  

.chips-card2{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    
}

.chip-view1{
    display: flex;
    flex-direction: row;
    background-color: rgb(5, 22, 80);
    color: aliceblue;
    width: 610px;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: space-between;
    h1{
        margin-left: 43px;
    }
    img{
        height: 50px;
        width: 60px;
        margin-right:auto;
        right: 0;
    }
    button{
        color:black;
        text-decoration:none;
        background-color: aliceblue;
        border: 1px solid aliceblue;
        width: 150px;
        border-radius: 50px;
        margin-left: 40px;
    }
    Link{
        text-decoration: none;
        color: rgb(0, 0, 0);
        cursor: pointer;
        margin-left: 40px;
    }
}

.chip-view2{
    display: flex;
    flex-direction: row;
    background-color: rgb(38, 5, 80);
    color: aliceblue;
    width: 610px;
    justify-content: space-between;
    h1{
        margin-left: 43px;
    }
    img{
        height: 50px;
        width: 60px;
        margin-right:auto;
        right: 0;
    }
    button{
        color:black;
        text-decoration:none;
        background-color: aliceblue;
        border: 1px solid aliceblue;
        width: 150px;
        border-radius: 50px;
        margin-left: 40px;
    }
    Link{
        text-decoration: none;
        color: rgb(0, 0, 0);
        cursor: pointer;
        margin-left: 40px;
    }
}

.chip-view3{
    display: flex;
    flex-direction: row;
    background-color: rgb(80, 63, 5);
    color: aliceblue;
    width: 610px;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: space-between;
    h1{
        margin-left: 43px;
    }
    img{
        height: 50px;
        width: 60px;
        margin-right:auto;
        right: 0;
    }
    button{
        color:black;
        text-decoration:none;
        background-color: aliceblue;
        border: 1px solid aliceblue;
        width: 150px;
        border-radius: 50px;
        margin-left: 40px;
    }
    Link{
        text-decoration: none;
        color: rgb(0, 0, 0);
        cursor: pointer;
        margin-left: 40px;
    }
}


.chip-view4{
    display: flex;
    flex-direction: row;
    background-color: rgb(80, 10, 5);
    color: aliceblue;
    width: 610px;

    justify-content: space-between;
    h1{
        margin-left: 43px;
    }
    img{
        height: 50px;
        width: 60px;
        margin-right:auto;
        right: 0;
    }
    button{
        color:black;
        text-decoration:none;
        background-color: aliceblue;
        border: 1px solid aliceblue;
        width: 150px;
        border-radius: 50px;
        margin-left: 40px;
    }
    Link{
        text-decoration: none;
        color: rgb(0, 0, 0);
        cursor: pointer;
        margin-left: 40px;
    }
}

