.side-menu-single{
  color: white;
}
.side{
  background-color: black;
  height: 1000px;
  width: 276px;
  color: white;
}
.side-menu-single{
  display: flex;
  padding: 15px 40px;
}
.side-profile{
  display: flex;
  padding: 40px 30px;
}
.side-profile-text-h1{
  margin-top: -19px;
  font-size: 15px;
}
.side-profile-text{
  margin-top: -14px;
  padding: 0px 15px;
}
.side-menu-text-h1{
  padding: 0px 20px;
  margin-top: 5px;
}
.side-menu{
  cursor: pointer;
}
.side-menu-single:hover{
  background-color: white;
  color: black;
}
