.admin-header-component ul{
  display: flex;
  gap: 58rem;
  background-color: rgba(0, 0, 0, 0.219);
  padding: 10px 10px;
  margin-top: 0%;
  width: 100%;
}
.admin-header-component ul li{
  list-style: none;
}
.Admin-header{
  background-color:#F4F5F9;
}
.card1{
  background-color: black;
  width: 30%;
  height: 8rem;
  border-radius: 5px;
}
.card2{
  background-color: black;
  width: 30%;
  height: 8rem;
  border-radius: 5px;
}
.card3{
  background-color: black;
  width: 30%;
  height: 8rem;
  border-radius: 5px;
}
.Admin-cards1{
  display: flex;
  gap: 2rem;
  border-radius: 5px;
}
.Admin-cards2{
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}
.cards-container{
  margin-left:3rem;
}
.cardnew1{
  background-color: black;
  width: 45%;
  height: 18rem;
  border-radius: 5px;
}
.Admin-cards3{
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
}
.Admin-cards4{
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
}
