.admindash-header-component ul{
  display: flex;
  gap: 58rem;
  background-color: rgba(0, 0, 0, 0.219);
  padding: 10px 10px;
  margin-top: 0%;
  width: 100vw;
}
.admindash-header-component ul li{
  list-style: none;
}
.Admin-header{
  background-color:#F4F5F9;
  overflow-y: auto;
  max-height: 100vh;
}
.card1{
  background-color: white;
  width: 30%;
  height: 8rem;
  border-radius: 5px;
  box-shadow:1px 1px 1px 1px;
}
.card2{
  background-color: white;
  width: 30%;
  height: 8rem;
  border-radius: 5px;
  box-shadow:1px 1px 1px 1px;
}
.card3{
  background-color: white;
  width: 30%;
  height: 8rem;
  border-radius: 5px;
  box-shadow:1px 1px 1px 1px;
}
.Admin-cards1{
  display: flex;
  gap: 2rem;
  border-radius: 5px;
}
.Admin-cards2{
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}
.cards-container{
  margin-left:3rem;
  margin-top: 1rem;
}
.cardnew1{
  background-color: white;
  width: 45%;
  height: 22rem;
  border-radius: 5px;
}
.cardnew2{
  background-color: white;
  width: 45%;
  height: 22rem;
  border-radius: 5px;
}
.Admin-cards3{
  display: flex;
  margin-top: 2rem;
  gap: 4rem;
}
.Admin-cards4{
  display: flex;
  margin-top: 2rem;
  gap: 4rem;
}
.card1icon{
  color: yellow;
  font-size: 30px;
  margin-top: 2rem;
}
.cardcontent{
display: flex;
  gap: 180px;
 border-bottom: black 1px solid;
}
.bottom-card1icon{
  display: flex;
  gap: 1rem;
}
.details-icon{
  font-size: 19px;
  color: blue;
  margin-top: 10px;
}
.details-content{
  color: blue;
  margin-top: 10px;
}
#Tagbar{
  display: none;
}
/* Tablet responsiveness */
@media screen AND (max-width: 1040px){

.admindash-header-component ul{
  display: flex;
  gap: 38rem;
  background-color: rgba(0, 0, 0, 0.219);
  padding: 10px 10px;
  margin-top: 0%;
  width:100%;
}
#Tagbar{
  display: block;
}
}

/* Small-Mobile Responsiveness */

@media screen AND (max-width: 480px){
.admindash-header-component ul{
  display: flex;
  gap: 130px;
  background-color: rgba(0, 0, 0, 0.219);
  padding: 10px 10px;
  width: 100%;
}
.admindash-header-component ul li{
  list-style: none;
}
.Admin-cards1{
  display: flex;
  border-radius: 5px;
  flex-direction: column;
}
.Admin-cards2{
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  flex-direction: column;
}
.cardcontent{
  display: flex;
  gap: 10px;
 border-bottom: black 1px solid;
}
.bottom-card1icon{
  display: flex;
  gap: 10px;
}
.card1{
  background-color: white;
  width: 90%;
  height: 8rem;
  border-radius: 5px;
  margin-right: 10px;
}
.card2{
  background-color: white;
  width: 90%;
  height: 8rem;
  border-radius: 5px;
  margin-right: 10px;
}
.card3{
 background-color: white;
  width: 90%;
  height: 8rem;
  border-radius: 5px;
  margin-right: 10px;
}
.cardnew1{
  background-color: white;
  width:100%;
  height: 18rem;
  border-radius: 5px;
}
.cardnew2{
  background-color: white;
  width: 90%;
  height: 18rem;
  border-radius: 5px;
}
.Admin-cards3{
  display: flex;
  margin-top: 2rem;
  gap:5rem;
  flex-direction: column;
}
.Admin-cards4{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap:5rem;
}
#Tagbar{
  display: block;
  font-size:20px;
  margin-left: 50px;
  display: flex;
  gap: 10px;
}
#Tagbar-icon{
  margin-top: 5px;
}
}



/* Mobile-large responsiveness */
/* @media screen AND (max-width: 768px){
  .Admin-header{
  margin-left: -30px;
 }
 .admindash-header-component ul{
  display: flex;
  gap:600px;
  background-color: rgba(0, 0, 0, 0.219);
  padding: 10px 10px;
  margin-top: 0%;
  width: 100%;
}
.admindash-header-component ul li{
  list-style: none;
  margin-left: 30px;
}
} */

/* Mobile-large responsiveness */
/* @media screen AND (max-width: 1200px){

} */