@function bg-image($filename) {
    @return url('/public/Home/#{$filename}');
  }

// .body-slide{
//     // background-image: bg-image('slide2.jpg');
//     background-repeat: no-repeat;

//     background-size: cover;
//     object-fit: cover;
//     heigth: 500px;
//     width: 100%;
//     position: absolute;
//     top: 5;
//     left: 3;
//     right: 3;
//     z-index: 1;
//     display: flex;
//     flex-direction: column;
//     justify-content: right;
//     align-items: right;
//     color: rgb(248, 248, 65);
//     font-size: 1.5rem;
//     font-weight: 600;
//     text-align: right;
//     img{
//         z-index: 0;
//        object-fit: cover;
//         width: 100%;
//         margin: 20px;
//         height: 500px;
//     }
    
//     .body-slide-text{
//         margin: 120px 30px;
       

//     }
    
//     .body-slide-text__title{
//         font-size: 2.5rem;
//         font-weight: 700;
//         margin-bottom: 0.5rem;
//         margin-right: 10px;

//     }
//     .body-slide-text__subtitle{
//         font-size: 1.5rem;
//         font-weight: 600;
//         margin-bottom: 0.5rem;
//         z-index: 2;
//         margin-right: 10px;
//     }
//     button{
//         z-index: 2;
//         left: 2;
//         margin-left: auto;
//         
//         padding: 0.5rem 1rem;
//         font-size: 1.5rem;
//         font-weight: 600;
//         cursor: pointer;
//         transition: all 0.3s ease;
//         &:hover{
//             background-color: #000;
//             color: #fff;
//         }
//     }
// }

.body-slide{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    img{
        width: 98.5%;
        height: 100vh;
    }
    .text-overlay {
        position: absolute;
        top: 45%;
        left: 30%;
        color: #fffdfd;
        font-size: 1.5rem;
        font-weight: 600;
        text-align: left;
        transform: translate(-50%, -50%);
        z-index: 1;
      }
    p{
        color: #ffffff;
        font-size: 40px;
        text-align: left;
    } 
    button{
         background-color: transparent;
         width: 200px;
         color: #ffffff;
         border: 1px solid #000;
         border-radius: 5px;
         cursor: pointer;
        }

}