
$border_color:black;
$border_radius:15px;


.subHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

.line {
    border-bottom: 1px solid black;
  }
  
.subheader-sect2{
    border: 1px solid $border_color;
}

.subheader-sect3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 30px;
    
}

.subheader-logs{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin-left: 30px;
    padding-left: 10px;
    padding-right: 10px;

}

.subheader-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #000000;
    height: 50px;
}

.nav-link{
    justify-content: space-between;
    text-decoration: none;
}