.shop-container {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    margin-right: 25px;
    
  }
  
  .shop-cat1{
    flex-basis: 20%;
    flex-grow: 0;
  }
  
  .shop-cat2{
    flex-basis: 75%;
    flex-grow: 1;
  }
  