.subNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 0.3rem; */
}
.categories {
  display: flex;
  align-items: center;
  background-color: var(--color-nav-bg);
  padding: 0.5rem 1rem;
}
.categories span {
  font-size: 25px;
}
.pdetails {
  display: flex;
  align-items: center;
  gap: 4rem;
  justify-content: space-between;
}
.pdetails p {
  margin-top: -0.5rem;
}
.links ul {
  display: flex;
  list-style: none;
  cursor: pointer;
  gap: 1rem;
  font-style: capitalize;
}
.track {
  display: flex;
  align-items: center;
}
.trackOrders {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* ========================================  Slide  =================================== */
.shop_one {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 2rem;
  margin-bottom: 2rem;
}
.shop_one img {
  width: 100%;
  height: 100%;
  /* aspect-ratio: 1/1; */
}
.overlay_s {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0.1));
}
.right_overlay {
  width: 100%;
  height: 70%;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  text-align: right;
  position: absolute;
  padding: 2rem 5rem;
  top: 25%;
  right: 0;
}
.btnContainer {
  position: relative;
  right: 0;
  display: flex;
  align-self: end;
  margin-top: 1rem;
  /* background-color: aqua; */
}
.right_overlay h5 {
  font-size: 4rem;
  color: var(--color-bg);
}
.right_overlay h1 {
  font-size: 5rem;
  color: var(--color-bg);
}
.right_overlay p {
  font-size: 2rem;
  color: var(--color-bg);
}
.right_overlay p > span {
  font-size: 2rem;
  color: var(--color-yellow);
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  background: var(--color-text);
  font-size: 3rem;
  padding: 0.4rem;
  /* margin-top: -2rem; */
}

/*============================================== Tablet Media Queries ==============================================*/

@media screen AND (max-width: 1024px) {
  .container {
    width: var(--width-md);
    margin: 0 auto;
  }
  .shop_one {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .right_overlay {
    width: 100%;
    height: 70%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    text-align: right;
    position: absolute;
    padding: 2rem 5rem;
    top: 15%;
    right: 0;
  }
  .right_overlay h5 {
    font-size: 3rem;
    color: var(--color-bg);
  }
  .right_overlay h1 {
    font-size: 4rem;
    color: var(--color-bg);
  }
  .right_overlay p {
    font-size: 1rem;
    color: var(--color-bg);
  }
  .right_overlay p > span {
    font-size: 1rem;
    color: var(--color-yellow);
  }
}

/*============================================== mobile  Media Queries ==============================================*/

@media screen AND (max-width: 600px) {
  .container {
    width: var(--width-sm);
    margin: 0 auto;
  }
  .shop_one {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .right_overlay {
    width: 100%;
    height: 70%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    text-align: right;
    position: absolute;
    padding: 1rem 2.5rem;
    top: 19%;
    right: 0;
  }
  .right_overlay h5 {
    font-size: 1.3rem;
    color: var(--color-bg);
  }
  .right_overlay h1 {
    font-size: 1.7rem;
    color: var(--color-bg);
  }
  .right_overlay p {
    font-size: 1rem;
    color: var(--color-bg);
  }
  .right_overlay p > span {
    font-size: 1rem;
    color: var(--color-yellow);
  }
  .overlay_s {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(to top, black, rgba(0, 0, 0, 0.5));
  }
}
