.product-boxx{
  background-color: white;
   width:82.5%;
   margin-left: 2rem;
   margin-top: 1rem;
   cursor: pointer;;
   overflow-y: scroll;
   overflow-x: hidden;
}
.next-cont {
  display: flex;
  padding: 30px 100px;
  gap: 2rem;
}
.next-cont ul {
  display: flex;
  gap: 2rem;
}

.next-cont li :hover {
  background-color: blueviolet;
  cursor: pointer;
}
.next1 {
  background-color: #5f4c6b;
  width: 30px;
  height: 30px;
}


/* Tablet responsiveness */
@media screen AND (max-width: 1040px){
.product-boxx{
  min-width:80%;
  overflow-x: auto;
  margin-top: 10rem;
}

}

@media screen AND (max-width: 480px){
.product-boxx{
  min-width:80%;
  overflow-x: auto;
  margin-top: 10rem;
}

.next-cont {
  display: flex;
  padding: 10px 50px;
  gap: 1rem;
}
.next-cont ul {
  display: flex;
  gap: 2rem;
}

.next-cont li :hover {
  background-color: blueviolet;
  cursor: pointer;
}
.next1{
  background-color: #5f4c6b;
  width: 20px;
  height:25px;
}
} 

/* Mobile-large responsiveness */
/* @media screen AND (max-width: 1200px){
 
} */

/* Mobile-large responsiveness */
/* @media screen AND (max-width: 768px){
 
} */

/* Small-mobile responsiveness */
