.categolies-nav{
    margin-left: 5px;
    overflow-x: hidden;
    color: black;
    button{
    border:none;
    }
    ul{
        font-size:16px;
        margin-left: 10px;
        font-weight: 20;
        cursor: pointer;
        li{
            margin-top: 5px;
            margin-bottom: 5px; 
        }
        :hover{
            color: #00aeff;
        }
    }

}