.categolies-nav{
    margin-left: 5px;
    button{
    border:none;
    }
    ul{
        font-size:16px;
        margin-left: 10px;
        font-weight: 20;
        cursor: pointer;
        :hover{
            color: #00aeff;
        }
    }

}