.categolies-nav{
    margin-left: 5px;
    ul{
        font-size:23px;
        margin-left: 5px;
        font-weight: 20;
        cursor: pointer;
        :hover{
            color: #ff0000;
        }
    }

}