
.admin-container {
  display: flex;
  max-height:100vh;
  overflow-y: hidden;
}
.dash{
    display: flex;
    max-height: 100vh;
    overflow-y:hidden;
}

.h{
  max-height: 101vh;
  overflow-y: auto  !important;
}