.sales-header-component ul{
  display: flex;
  gap: 58rem;
  background-color: rgba(0, 0, 0, 0.219);
  padding: 10px 10px;
  margin-top: 0%;
  width:100% ;
}
body{
  background-color:#F4F5F9;
}
.sales-header-component ul li{
  list-style: none;
}
.Right-Headericon{
  display: flex;
  font-size: 12px;
}
#nexticon{
  margin-top: 3px;
  color: black;
  font-size: 12px;
}
.Left-Headericon{
  display: flex;
  font-size: 12px;
  margin-left: 55rem;
  gap: 10px;
}
.header-bottom{
  display: flex;
  margin-top: -15px;
  margin-top:5px;
}
#detail{
  color: blue;
  margin-top: -18px;
  margin-left: 10px;
}
.sale-cont1{
  display: flex;
  margin-left: 2rem;
  gap: 34.5rem;
}


/* Tablet responsiveness */
@media screen AND (max-width: 1040px){
.sales-header-component ul{
  display: flex;
  gap: 35rem;
  background-color: rgba(0, 0, 0, 0.219);
  padding: 10px 10px;
  margin-top: 0%;
  width:100%;
}
.sale-cont1{
  display: flex;
  margin-left: 2rem;
  gap:20rem;
}
}

/* Small-mobile responsiveness */

@media screen AND (max-width: 480px){
  .sales-header-component ul{
  display: flex;
  gap: 15rem;
  background-color: rgba(0, 0, 0, 0.219);
  padding: 10px 10px;
  width:100% ;
}
.sale-cont1{
  display: flex;
  margin-left:5px;
  gap:2px;
}
.user-iconparagraph{
  display: flex;
  background-color: white;
  border-radius: 10px;
  gap: 5px;
  padding:5px;
}
} 

/* Mobile-large responsiveness */
/* @media screen AND (max-width: 1200px){
 
} */

/* Mobile-large responsiveness */
/* @media screen AND (max-width: 768px){
 
} */



/* @media screen AND (max-width: 480px){
  .admin-header-component ul{
  display: flex;
  gap: 10rem;
  background-color: rgba(0, 0, 0, 0.219);
  padding: 10px 10px;
  width:100% ;
}
.Left-Headericon{
  display: flex;
  font-size: 12px;
  margin-left: 3rem;
  gap: 10px;
}
} */