.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: relative; */
}
.Nav-register ul {
  align-items: center;
  display: flex;
  gap: 0;
  list-style: none;
}
.welcome-home{
  background-color: var(--color-nav-bg);
}
.nav-page {
  border-bottom: 1px solid var(--color-gray);
}
.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.input_search {
  display: flex;
  align-items: center;
  border: 2px solid var(--color-icon-bg);
  border-radius: 0.5rem;
  /* background-color: aquamarine; */
}
.input_search input[type="text"] {
  border: none;
  outline: none;
  padding: 7px;
}
.input_search select {
  border: none;
  outline: none;
  border-right: 1px solid var(--color-text);
  padding: 7px;
  z-index: -1;
  border-radius: 0.5rem 0 0 0.5rem;
}
.searchIcon {
  font-size: 20px;
  margin-top: 3px;
  cursor: pointer;
  position: relative;
  padding: 0rem 1rem;
  /* background-color: #326698; */
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.cartWishlist,
.cwcontainer {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart span {
  font-size: 24px;
  font-weight: 800;
  cursor: pointer;
}
.cart small {
  margin-top: -0.6rem;
}
.contact {
  border-right: 1px solid var(--color-gray);
  padding: 0 1rem;
}
.navBar {
  border-bottom: 1px solid var(--color-gray);
}
.boo {
  font-size: 20px;
  font-weight: 800;
}
.icon_header {
  display: flex;
  gap: 1rem;
  align-items: center;
}


/*============================================== Tablet Media Queries ==============================================*/

@media screen AND (max-width: 1024px) {
  .container {
    width: var(--width-md);
    margin: 0 auto;
  }
  .contact {
    display: none;
  }
  .navBar {
    display: none;
  }
  .wel {
    background-color: var(--color-nav-bg);
    height: 80px;
  }
  .Nav-register {
    margin-top: 14px;
  }
  .welcome h6 {
    font-size: 1.2rem;
    margin-top: 14px;
  }
  .Nav-register ul li {
    font-size: 1.5rem;
  }
  .search {
    height: 80px;
  }
}

/*============================================== mobile  Media Queries ==============================================*/

@media screen AND (max-width: 600px) {
  .container {
    width: var(--width-sm);
    margin: 0 auto;
  }
  .contact {
    display: none;
  }
  .navBar {
    display: none;
  }
  .wel {
    background-color: var(--color-nav-bg);
    height: 50px;
  }
  .welcome h6 {
    font-size: 12px;
    margin-top: 14px;
    font-weight: 600;
  }
   .Nav-register ul li {
    font-size: 0.7rem;
    font-weight: 800;
  }
  .input_search{
    display: none;
  }
  .icon_header{
    display: flex;
    gap: 3rem;
  }
}